:root {
	--font-main: "Rubik", sans-serif;

	--font-size-l: 20px;
	--font-size-xl: 24px;
	--font-size-2xl: 30px;

	--color-light-background: #f9f9f9;
	--color-light-header: #fafafa;
	--color-light-header-shadow: #eee;
	--color-light-font: #333;
	--color-light-bar-cover: #ddd;
	--color-light-bar-shadow: #ccc;
	--color-light-event-remove: #e72131;
	--color-light-event-remove-shadow: #aaa;

	--height-header: 60px;
	--height-bar: 60px;
	--height-bar-template: 40px;
	--height-more-bar: 4px;
	--height-more-button: 28px;

	--width-more-bar: 25px;
	--width-aside: 15vw;

	--space-size-2xs: 4px;
	--space-size-xs: 5px;
	--space-size-s: 10px;
	--space-size-m: 20px;
	--space-size-l: 40px;

	--size-event-remove: 24px;
}

body {
	margin: 0;
	padding: 0;
	font-family: var(--font-main);
	background-color: var(--color-light-background);
	color: var(--color-light-font);
	overflow-y: scroll;
}

header {
	width: 100%;
	height: var(--height-header);
	line-height: var(--height-header);
	text-align: center;
	font-size: var(--font-size-l);
	background-color: var(--color-light-header);
	box-shadow: 0 0 2px 0 var(--color-light-header-shadow);
	position: fixed;
	z-index: 3;
}

header h1 {
	margin: 0;
	float: right;
	width: 100%;
	transition: width 0.3s ease-out;
}

.countdown {
	margin: auto;
	padding: var(--space-size-l) 0;
	text-align: center;
	font-size: var(--font-size-l);
}

.bar {
	width: 98%;
	height: var(--height-bar);
	line-height: var(--height-bar);
	font-size: var(--font-size-xl);
	position: relative;
	overflow: hidden;
	margin: auto;
	border-radius: 20px;
	box-shadow: 0 0 5px 0 var(--color-light-bar-shadow);
}

.bar_text {
	position: absolute;
	z-index: 2;
	left: 50%;
	transform: translateX(-50%);
}

.bar_cover {
	position: absolute;
	background-color: var(--color-light-bar-cover);
	top: 0;
	right: 0;
	width: 100%;
	height: var(--height-bar);
}

#more_button {
	display: block;
	position: fixed;
	top: 16px;
	left: 20px;
	cursor: pointer;
	width: var(--width-more-bar);
	height: var(--height-more-button);
}

#bar1,
#bar2,
#bar3 {
	width: var(--width-more-bar);
	height: var(--height-more-bar);
	background-color: var(--color-light-font);
	margin: var(--space-size-2xs) 0;
}

#aside {
	position: fixed;
	top: var(--height-header);
	left: var(--width-aside);
	width: var(--width-aside);
	height: 100vh;
	background-color: var(--color-light-header);
	z-index: 2;
	transition: left 0.3s ease-out;
	box-shadow: 0 0 2px 0 var(--color-light-header-shadow);
	text-align: center;
}

.visible {
	left: 0 !important;
}

main {
	float: right;
	width: 100%;
	transition: width 0.3s ease-out;
	margin-top: var(--height-header);
	padding-bottom: var(--height-bar);
	text-align: center;
}

.shrinked {
	width: 85%;
}

.day_name {
	text-align: center;
	font-size: var(--font-size-2xl);
	margin: var(--space-size-m) 0;
}

.general_settings {
	padding: 0 var(--space-size-m);
	text-align: left;
}

.bar_select {
	height: var(--height-bar-template);
	line-height: var(--height-bar-template);
	padding: var(--space-size-s) 0;
}

.bar_select input {
	height: 100%;
}

.template_bar {
	display: inline-block;
	width: 80%;
	margin: auto;
	height: var(--height-bar-template);
	border-radius: 10px;
	overflow: hidden;
}

table {
	margin: auto;
	text-align: center;
}

th,
td {
	padding: var(--space-size-m);
}

.event_remove {
	width: var(--size-event-remove);
	height: var(--size-event-remove);
	line-height: var(--size-event-remove);
	text-align: center;
	background-color: var(--color-light-event-remove);
	color: var(--color-light-background);
	font-size: var(--font-size-l);
	user-select: none;
	cursor: pointer;
	border-radius: 5px;
	box-shadow: 1px 1px 3px var(--color-light-event-remove-shadow);
}
